div + #card-container {
  margin-top: 30px; /* Adjust this value as needed for spacing */
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* Grid container setup for fighter names */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three boxes in a row */
  gap: 20px; /* Space between boxes */
}

/* Styling for fighter names in boxes */
.fighter-name {
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #333;
  margin-bottom: 20px; /* Space between rows */
}

.fighter-name:hover {
  background-color: #f8f8f8;
}
/* Card popup styling */
.card-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* Card styling remains unchanged */

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 boxes in a row for smaller screens */
  }
}

  /* Pagination styling */
  #pagination {
    margin-top: 20px; /* Adds space above the pagination numbers */
    text-align: center;
  }

  #pagination a {
    padding: 5px 10px;
    margin: 0 5px; /* Adds space between each pagination number */
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
  }

  #pagination a.active-page {
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }
